.green-button {
  background-color: #5cb85f;
  border: none;
  width: 358px;
  height: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  font-size: 14px;
  font-weight: 700;

  border-radius: 3px;
}

.pemesanan {
  max-width: 1042px;
  height: 320px;
}

.choose-payment {
  margin: 2rem;
  width: 605px;
  height: 320px;
  left: 441px;
  top: 352px;
}

.total {
  margin: 2rem;
  width: 405px;
  height: 546px;
  right: 200px;
  bottom: 15px;
}

.accordion {
  background: transparent;
  box-shadow: none;
  margin-bottom: 15px;
  margin-top: 0 !important;
  border: none;
  margin-top: 200px;
}
