.pemesanan {
  max-width: 1042px;
  height: 320px;
}

.choose-payment {
  margin: 2rem;
  width: 605px;
  height: 320px;
  left: 441px;
  top: 352px;
}

.total {
  margin: 2rem;
  width: 405px;
  height: 546px;
  right: 200px;
  bottom: 15px;
}

.accordion {
  background: transparent;
  box-shadow: none;
  margin-bottom: 15px;
  margin-top: 0 !important;
  border: none;
  margin-top: 200px;
}
